# Dependencies
node_modules

# Output
.next
out
dist

# Typescript
*.tsbuildinfo
next-env.d.ts

# Turbo
.turbo

# IDEs and Editors
.idea
.project
.classpath
.c9
*.launch
.settings
*.sublime-workspace
.vscode
*.swp

# Environment
.env
!.env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem
